{% extends 'layout.html' %}
{% block css %}

    <style>
.stark_container{
    margin-top: 30px;
}
    .has-error{
        color: red;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="stark_container">
    <div class="row">

            <div class="col-md-6 col-md-offset-3">
            <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>完整验证表单</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="signupForm" novalidate="novalidate" method="post" >
                        {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ field.label }}：</label>
                                                              <div class="col-sm-8">
                                    {{ field }}
                                    <span  class="help-block m-b-none has-error">{{ field.errors.0 }}</span>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button class="btn btn-primary" type="submit">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

